/* card */
.card {
  min-height: 100%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.displayCards {
  margin-top: 10px;
  flex: 1;
}

img {
  max-width: none;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
.card p {
  line-height: 1.4;
}
/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

/* Main container and its side bar */
.MainContent {
  display: flex;
}


.leftSideBar {
  flex: 1;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
}


