/* main container */
.container {
  display: flex;
}


/* right side bar */
.RightSidBar {
  flex: 3;
}

/* main content */
.MainContent {
  display: flex;
}

/* div */
.displayDivCategory {
  flex-wrap: wrap;
  display: flex;
}
