/* main container */
.container {
  display: flex;
}

/* left side bar */
.LeftSideBar {
  flex: 1;
  background-color: black !important;
}

/* right side bar */
.RightSidBar {
  flex: 3;
}

/* main content */
.MainContent {
  display: flex;
}

/* div */
.displayDivCategory {
  flex-wrap: wrap;
  display: flex;
}
