/* container */
.home {
  display: flex;
  background: #1e1e1e;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  flex: 1
}

#divbtnHome{
  display: flex;
  flex: 1;
  color: black !important;
  padding-top: 100px;
  padding-bottom: px;
  flex-direction: row;

}

#btnSpotify {
  color: black !important;
  font-size: xx-large !important;
  background: aliceblue !important;
  border: wheat !important;
  border-radius: 15px !important;  
  margin: auto;
  margin-bottom: 0;
  flex-basis: 30%;
  height: 100px;
  text-align: center;
  justify-content: center;
} /* button container for spotify login */

#btnSpotify button {
  border: none !important;
  background: aliceblue !important;
  border-radius: 15px !important;
  text-align: center  !important;
  padding: 20px !important;
  font-weight: bolder !important;
  font-size: x-large;
} /* button for spotify login */


/* loader */
#divLoader {
  padding-top: 20px;
  flex: 1;
  margin: auto
}
