/* MainContainer,side Bar */
.MainContainer {
  display: flex;
}

.sideBar {
  flex: 1;
  background-color: black;
}

.RightSideBar {
  flex: 4;
}

.mainDisplay {
  display: flex;
  flex-wrap: wrap;
}

/* List insie side bar */
.ulList {
  color: white !important;
  font-weight: bold;
  list-style: none;
}

.li {
  margin-top: 15px;
  display: list-item !important;
}
.li:hover {
  color: yellowgreen;
  border-left: 2px solid yellowgreen;
  cursor: pointer;
}

/* NavBar on Main */
.nav-btn {
  margin-bottom: 100px;
}

.nav-link {
  color: white;
  font-weight: bolder;
  padding: 10px;
  text-decoration: none;
}

.nav-item.nav-link:hover {
  border: 1px solid crimson;
  border-width: 0px 0px 1px 0px;
  color: greenyellow;
  text-decoration: none;
}

.mainLinks {
  color: white;
  font-weight: bold;
}

.mainLinks:hover {
  color: yellowgreen;
}

/* For Footer Buttons */
#btnNext,
#btnPrevious,
#btnShuffle,
#btnRepeat {
  width: 20px;
  height: 20px;
  padding: 10px;
}

#btnPlay {
  width: 30px;
  height: 20px;
  padding: 10px;
}

/*Cards*/
img {
  height: auto;
  vertical-align: middle;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
