#root{
  display: flex
}
#bodyCont{
  display: flex;
  flex-direction: column
}

#bodyMainCont{
  flex: 1
}

#footCont{
  flex: 1;
  display: flex;
  position: sticky;
  bottom: 0;
}

/* MainContainer,side Bar */
.MainContainer {
  display: flex;
}

.footer {
  display: flex;
  flex: 1;
  background-color: #383838;
  flex-basis: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
}


/* side bar */

  .sideBar {
    flex: 1;
    background-color: black;
     display: flex;
     flex-direction: column; 
  }

  .sideBar img{
    padding: 40px;
    padding-bottom: 0px
  }
 

/* right side bar */
.RightSideBar {
  flex: 4;
  background-color: #1e1e1e;
}

/* main display from Right side */
.mainDisplay {
  display: flex;
  flex-direction: column
}

/* div for cards */
.displayDiv {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
}

/* cards */
.displayCards {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  /* padding-right: 10px */
}

/* div setting */
#displayCardsCol {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px
}

/* for card Image */
.divImg {
  width: 300px;
  height: 300px;
  overflow: hidden;
}


/* List insie side bar */
.ulList {
  color: white !important;
  font-weight: bold;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.li {
  color: white;
  margin-top: 15px;
  display: list-item !important;
  text-decoration: none;
}
.li:hover {
  color: yellowgreen;
  border-left: 2px solid yellowgreen;
  cursor: pointer;

}

/* NavBar on Main */
.nav-btn {
  margin-bottom: 100px;
}
.nav-link {
  color: white;
  font-weight: bolder;
  padding: 10px;
  text-decoration: none;
}
.nav-item.nav-link:hover {
  border: 1px solid crimson;
  border-width: 0px 0px 1px 0px;
  color: greenyellow;
  text-decoration: none;
}
.mainLinks {
  color: white;
  font-weight: bold;
}
.mainLinks:hover {
  color: yellowgreen;
}

/* For Footer Buttons */
#btnNext,
#btnPrevious,
#btnShuffle,
#btnRepeat {
  width: 20px;
  height: 20px;
  padding: 10px;
}
#btnPlay {
  width: 30px;
  height: 20px;
  padding: 10px;
}

/*Cards*/
img {
  height: auto;
  vertical-align: middle;
}
.mainCard {
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%
}

.mainCard .mainDivImg{
  display: flex;
  height: 70%;
  width: 100%
}

.mainCard .mainDivImg img{
  flex: 1;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}

#contentCont{
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0px
}

.card__title {
  font-size: larger;
  font-weight: bolder;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
}

/* display category title above card */
.title {
  font-weight: bold;
  color: white;
  padding-top: 30px;
  flex: 1;
  padding-left: 57px;
}

/* display see All */
.seeAll a {
  flex: 1;
  text-decoration: none;
  color: white;
  padding: 20px;
}
.seeAll {
  text-align: right;
  flex: 1;
}

@media screen and (max-width:1920){
  .sideBar{
    width: 50px;
  }
}