/* MainContainer,side Bar */
.MainContainer {
  display: flex;
}

/* side bar */
.sideBar {
  flex: 1;
  background-color: black;
  text-align: center;
}

/* right side bar */
.RightSideBar {
  flex: 4;
  background-color: #1e1e1e;
}

/* main display from Right side */
.mainDisplay {
  display: flex;
  flex-wrap: wrap;
}

/* div for cards */
.displayDiv {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
}

/* cards */
.displayCards {
  margin-top: 0px;
}

/* div setting */
#displayCardsCol {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

/* List insie side bar */
.ulList {
  color: white !important;
  font-weight: bold;
  list-style: none;
}
.li {
  color: white;
  margin-top: 15px;
  display: list-item !important;
}
.li:hover {
  color: yellowgreen;
  border-left: 2px solid yellowgreen;
  cursor: pointer;
}

/* NavBar on Main */
.nav-btn {
  margin-bottom: 100px;
}
.nav-link {
  color: white;
  font-weight: bolder;
  padding: 10px;
  text-decoration: none;
}
.nav-item.nav-link:hover {
  border: 1px solid crimson;
  border-width: 0px 0px 1px 0px;
  color: greenyellow;
  text-decoration: none;
}
.mainLinks {
  color: white;
  font-weight: bold;
}
.mainLinks:hover {
  color: yellowgreen;
}

/* For Footer Buttons */
#btnNext,
#btnPrevious,
#btnShuffle,
#btnRepeat {
  width: 20px;
  height: 20px;
  padding: 10px;
}
#btnPlay {
  width: 30px;
  height: 20px;
  padding: 10px;
}

/*Cards*/
img {
  height: auto;
  vertical-align: middle;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__title {
  font-size: larger;
  font-weight: bolder;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* display category title above card */
.title {
  font-weight: bold;
  color: white;
  padding-top: 30px;
  flex: 1;
  padding-left: 57px;
}

/* display see All */
.seeAll a {
  flex: 1;
  text-decoration: none;
  color: white;
  padding: 20px;
}
.seeAll {
  text-align: right;
}

@media screen and (min-width: 1446px) {
  .cards {
    /* width: 100%; */
    /* padding-bottom: 20px;
    padding-top: 20px; */
    /* height: 100%;
    width: 100% */
    height: 100%;
  }
}

@media screen and (max-width:1920){
  .sideBar{
    width: 50px;
  }
}